* {
    margin: 0px;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{

    font-family: "Mulish", serif;
}
ul{
display: flex;
justify-content:space-evenly ;
gap: 20px;
}
.d{
    border-radius: 5px;
    color: white;
width: 100px ;
height: 25px ;
background-color: black;
display: flex;
justify-content: center;
}

.hj{
width: 250PX;
height: 200px;
}
.ff{color: white;
    width: 100px ;
    height: 35px;
    border: none;
border-radius: 3px; 
background-color: rgb(63, 197, 135);
}
.bbb{
display: flex;
justify-content: center;
}
.e{
    margin: 10px;
    border: solid rgb(203, 193, 193) 3px ;
    border-radius: 7%;
width: 200px ;
height: 200px ;
gap: 20px;
}
.e:hover{
    color: white;
    background-color: rgb(0, 255, 174);
    border: none ;
}
.df{

display: flex;
justify-content: center;
}
.gfg{
display: flex;
justify-content: right;
}
.kkkk{
display: flex;
}
.nEE{

    background-image: url(image\ 1\ \(1\).png)   ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1500px;
    height: 700px;
    display: flex;
    justify-content: center;
}
.boc{
width: 200px;
height: 100px;
background-color: rgba(0, 0, 0, 0.634);

}
.fdf{
    height: 200px;
background-color: black;
}
.kkkkk{
display: flex;
justify-content: start;
}













